* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    /* width: 100vw; */
    height: 100vh;
    background-image: url(./images/plant.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}

/* navbar desighn  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    color: white;
    font-size: 30px;
    overflow-x: auto;
}

nav h1 {
    height: 72px;
    width: 74px;
    font-size: 2rem;
    margin-left: 92px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 15px;
}

.list::after {
    position: absolute;
    bottom: 43rem;
    left: 789px;
    content: "";
    height: 2px;
    border-bottom: 3px solid rgb(235, 224, 224);
    width: 51%;
}

.main-left h1 {

    font-size: 5rem;
    width: 900px;
    margin-top: 12rem;
    margin-left: 7rem;
    color: #fff;

}

.main-left button {
    background: none;
    border: 4px solid rgb(226, 219, 219);
    border-radius: 5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(233, 220, 220);
    margin-left: 7rem;
    margin-top: 3rem;
    padding: 2rem 6rem;
}


/* card section  */
.card {
    width: 300px;
    height: 200px;
    padding: 2rem;
    background: #f3eded84;
    position: absolute;
    box-shadow: 0 3px 5px #0000004c;
    opacity: 0.6;
}

.card-puzzle {
    position: absolute;
    top: 12rem;
    right: 10rem;
    height: 11rem;
}

.card-light {
    position: absolute;
    bottom: 5rem;
    right: 15rem;
    margin-right: 11rem;

}

.card-light .line {
    position: absolute;
    top: 30px;
    left: 298px;
}

.icon-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 5rem;
    background: #fff;
}

.desc {
    position: absolute;
    margin-right: 1rem;
    bottom: 2rem;
    font-weight: 600;
}

.card-puzzle .line {
    position: absolute;
    /* display: block; */
    bottom: -67px;
    right: 20px;
    transform: rotate(90deg);
}


@media only screen and (max-width: 1030px) {
    .main-left h1 {
        font-size: 2.4rem;
    }

    .main-left button {
        font-size: .8rem;
        font-weight: 600;
        margin-top: 1rem;
        padding: 1rem 4rem;
    }

    .card-light {
        position: absolute;
        bottom: 1rem;
        right: 0rem;
        margin-right: 11rem;

    }

    .list::after {
        display: none;
    }

}

@media screen and (max-width:900px) {

    nav {
        font-size: 20px;
    }

    nav ul .active {
        display: none;
    }

    nav h1 {
        height: 30px;
        width: 50px;
        font-size: 1.5rem;
        margin-left: 20px;
        margin-top: -20px;
    }

    .card-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    body {
        background-image: url(./images/plant.png);

    }

    .main-left {
        margin-top: 18rem;
    }

    .main-left h1 {
        font-size: 2rem;
        width: 300px;
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .main-left button {
        border-radius: 5rem;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        color: rgb(233, 220, 220);
        margin-left: 3rem;
        margin-top: 3rem;
        padding: 1rem 3rem;
    }

    .card {
        padding-left: 7rem;
    }
}

@media screen and (max-width:400px) {
    .main-left h1 {
        font-size: 1rem;
        width: 200px;
        margin-top: 1rem;
        margin-left: 3rem;
    }

}